# Создано https://www.toptal.com/developers/gitignore/api/windows
# Редактировать на https://www.toptal.com/developers/gitignore?templates=windows

### Окна ###
# Файлы кэша миниатюр Windows
Большие пальцы.db
Thumbs.db:зашифрованный
ehthumbs.db
ehthumbs_vista.db

# Файл дампа
*.stackdump

# Файл конфигурации папки
[Dd]esktop.ini

# Корзина используется в общих папках
$RECYCLE.BIN/

# Файлы установщика Windows
*.такси
*.msi
*.msix
*.мсм
*.msp

# Ярлыки Windows
*.lnk

# Конец https://www.toptal.com/developers/gitignore/api/windows
# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# PyPI configuration file
.pypirc
